.container {
  padding: 50px;
  margin-bottom: 50px;
}

.foto {
  margin-bottom: 50px;
}

/*Propiedades de la imagen*/
@media (min-width: 577px) {
  #foto {
    border-radius: 50%;
  }
}

@media (max-width:576px) {
  #foto {
    object-fit: cover;
    width: 45vw;
    height: 27vh;
    border-radius: 100%;
  }
}

/*Botón*/
.buttonsabout {
  justify-content:end;
  align-items: end;
}

#edit {
  align-self: flex-end;
  justify-self: end;
}

/*Nombre y rol*/
.namerol {
  margin-top: 25px;
  flex-direction: column;
  align-self: center;
  text-align: center;
}

#nombre {
  color: #009ddc;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  text-size-adjust: auto;
  text-justify: inter-word;
  margin: auto;
  z-index: 1;
}

#rol {
  color: #ccd6f6d8;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

/*Acerca de*/
.acerca-de {
  margin-top: 50px;
  text-justify: auto;
  z-index: 1;
}

.title h1 {
  text-align: center;
  color: #ccd6f6d8;
  font-size: 4rem;
  font-weight: 600;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ant-descripcion h5 p {
  font-family: tisa;
}