<div class="container">
    <div class="row d-flex justify-content-evenly foto">
        <div class="d-flex justify-content-end buttons" *ngIf="isLogged">
            <button class="btn btn-light button" title="Editar persona" id="edit" routerLink="/editarpersona/{{persona.id}}">
                <i class="bi bi-pencil-fill"></i></button>
            <!-- <button class="btn btn-danger button" id="delete">
                    <i class="bi bi-trash-fill"></i></button> -->
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 d-flex justify-content-center profilepic">
            <img class="img-fluid" alt="Foto de perfil" src="{{persona.img}}" id="foto" />
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 d-flex align-items-center justify-content-center  namerol">
            <h3>
                <p class="d-flex flex-column" id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
            </h3>
            <p class="d-flex flex-column" id="rol">Full Stack Developer</p>
        </div>
    </div>

    <div class="row d-flex justify-content-between align-items-center acerca-de">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 d-flex align-items-center title">
            <h1>Acerca de mi</h1>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 antecedentes"
            style="border-top: 2px solid #009ddc; border-bottom: 2px solid #009ddc">

            <div>
                <div class="ant-descripcion">
                    <h5>
                        <p>{{persona.about}}</p>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>