<div class="container" *ngIf="acercaDe">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="acercaDe.nombre" required>
                </div>
                <div class="form-group">
                    <label for="descripcionE">Apellido</label>
                    <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="acercaDe.apellido" required>
                </div>
                <div class="form-group">
                    <label for="descripcionE">Url de la imagen</label>
                    <input type="text" class="form-control" id="img" name="img" [(ngModel)]="acercaDe.img" required>
                </div>
                <div class="form-group">
                    <label for="tiempoE">Acerca de mí</label>
                    <textarea class="form-control" id="about" name="about" [(ngModel)]="acercaDe.about"></textarea>
                </div>
                <button class="btn btn-primary">
                    Actualizar atributos
                </button>
            </form>
        </div>
    </div>
</div>
