<div class="container" *ngIf="expEdu">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreE">Nombre del establecimiento</label>
                    <input type="text" class="form-control" id="nombreE" name="nombreE" [(ngModel)]="expEdu.nombreE" required>
                </div>
                <div class="form-group">
                    <label for="descripcionE">Estudios cursados</label>
                    <textarea class="form-control" id="descripcionE" name="descripcionE" [(ngModel)]="expEdu.descripcionE" required></textarea>
                </div>
                <div class="form-group">
                    <label for="tiempoE">Tiempo</label>
                    <input type="text" class="form-control" id="tiempoE" name="tiempoE" [(ngModel)]="expEdu.tiempoE">
                </div>
                <br>
                <button class="btn btn-primary">
                    Actualizar experiencia
                </button>
            </form>
        </div>
    </div>
</div>
