<div class="container">
    <div class="row edutitle">
        <div class="col-9 d-flex edutitle">
            <h1 id="edutitle">Educación </h1>
        </div>

        <div class="col-3 d-flex justify-content-end align-items-center addeducacion" *ngIf="isLogged">
            <button type="button" class="btn btn-dark button" routerLink="/nuevaedu"
                title="Agregar nueva experiencia educativa" id="new">
                <i class="bi bi-plus-circle-fill"></i>
            </button>
        </div>
    </div>

    <div class="row d-flex justify-content-end ">
        <div class="antecedentes" style="border-top: 2px solid#009ddc" *ngFor="let Educacion of educacion">
            <div class="buttons" *ngIf="isLogged">
                <button class="btn btn-light button" routerLink="/editedu/{{Educacion.id}}"
                    title="Editar experiencia educativa" id="edit">
                    <i class="bi bi-pencil-fill"></i></button>
                <button class="btn btn-danger button" (click)="delete(Educacion.id)"
                    title="Eliminar experiencia educativa" id="delete">
                    <i class="bi bi-trash-fill"></i></button>
            </div>
            <div>
                <p class="ant-nombre"> {{Educacion.nombreE}}</p>
                <div class="ant-descripcion">
                    <h5>
                        <p>
                            {{Educacion.descripcionE}}
                        </p>
                    </h5>
                </div>
                <div class="ant-fecha">
                    <time>{{Educacion.tiempoE}}</time>
                </div>
            </div>
        </div>
    </div>
</div>