@charset "UTF-8";

@media (min-width: 551px) {
  #edutitle {
    color: #ccd6f6d8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4rem;
    font-weight: 600;
  }
}

@media (max-width: 550px) {
  #edutitle {
    color: #ccd6f6d8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15vw;
    font-weight: 600;
  }
}

.antecedentes {
  width: 80%;
  margin: 1%;
}