@charset "UTF-8";

.flex-container {
  padding: 5px;
  z-index: 1;
  width: 65%;
  display: flex;
  justify-content: space-between;
}

.edutitle {
  flex: 1;
  width: 30%;
}

div {
  color: goldenrod;
}

#addeducacion {
  z-index: 1;
  text-align: end;
}

#estudiostitle {
  z-index: 1;
  margin-left: 10px;
  border-bottom: 2px solid goldenrod;
}

#edudelete,
#eduedit {
  z-index: inherit;
  justify-content: flex-end;
  border-radius: 50%;
}

#newedu {
  margin-bottom: 5px;
  margin-right: 7px;
  border-radius: 50%;
}

