@charset "UTF-8";

.row {
  margin-top: 100px;
}

#title {
  color: #ccd6f6d8;
  font-size: 4rem;
  font-weight: 600;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.img-proyecto {
  box-shadow: 10px 10px 30px pink;
  /*box-shadow: ejeX ejeY difumación color*/
}