@charset "UTF-8";

.row {
  margin-top: 100px;
}

#title {
  color: #ccd6f6d8;
  font-size: 4rem;
  font-weight: 600;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card {
  width: 100%;
  background-color: goldenrod;
  border-width: 1px;
  margin: 5px;
}

.card-img-overlay {
  background-color: rgba(13, 97, 70, 0.52);
}

.card-title {
  font-weight: 400;
  letter-spacing: 1px;
}

.card-subtitle, .card-text {
  font-weight: 200;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
