<div class="row d-flex align-items-center justify-content-between">
    <div class="col d-flex justify-content-start logo">
        <img src="../../assets/APLogo-20-20.png" />
    </div>
    <div class="col d-flex justify-content-end align-items-center redes">
        <a href=""><img src="../../../assets/linkedin.png" title="linkedin" id="linkedin" /></a>
        <a href="https://www.instagram.com/fernann.benitez/"><img src="../../../assets/instagram.png" title="instagram" id="instagram" /></a>
        <a href="https://www.facebook.com/Fernann.Benitez"><img src="../../../assets/facebook.png" title="facebook" id="facebook" /></a>
        <a href="https://github.com/frbntz"><img src="../../../assets/github.png" title="github" id="github" /></a>
        <div id="log">
            <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">Login</button>
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">Cerrar
                sesión</button>
        </div>
    </div>
</div>