<div class="container">
    <div class="row exptitle">
        <div class="col-9 d-flex edutitle">
            <h1 id="exptitle">Experiencia </h1>
        </div>

        <div class="col-3 d-flex justify-content-end align-items-center addexp" *ngIf="isLogged">
            <button type="button" class="btn btn-dark button" routerLink="/nuevaexp" title="Agregar experiencia laboral" id="new">
                <i class="bi bi-plus-circle-fill"></i>
            </button>
        </div>
    </div>

    <div class="row d-flex justify-content-end ">
        <div class="antecedentes" style="border-top: 2px solid#009ddc" *ngFor="let Experiencia of expe">
            <div class="buttons" *ngIf="isLogged">
                <button class="btn btn-light button" routerLink="/editexp/{{Experiencia.id}}" title="Editar experiencia laboral" id="edit">
                    <i class="bi bi-pencil-fill"></i></button>
                <button class="btn btn-danger button" (click)="delete(Experiencia.id)" title="Eliminar experiencia laboral" id="delete">
                    <i class="bi bi-trash-fill"></i></button>
            </div>
            <div>
                <p class="ant-nombre"> {{Experiencia.nombreE}}</p>
                <div class="ant-descripcion">
                    <h5>
                        <p>
                            {{Experiencia.descripcionE}}
                        </p>
                    </h5>
                </div>
                <div class="ant-fecha">
                    <time>{{Experiencia.tiempoE}}</time>
                </div>
            </div>
        </div>
    </div>
</div>

