<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombre"> Nombre de la skill</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" required>
                </div>
              <!--  <div class="form-group">
                    <label for="porcentaje">Conocimiento de la skill (en porcentajes)</label>
                    <input type="text" class="form-control" id="porcentaje" name="porcentaje" [(ngModel)]="porcentaje" required>
                </div> -->
                <div class="form-group">
                    <label for="img">Logo de la skill</label>
                    <input type="text" class="form-control" id="img" name="img" [(ngModel)]="img">
                </div>
                <div class="form-group">
                    <label for="tiempoE">Color del logo</label>
                    <input type="text" class="form-control" id="color" name="color" [(ngModel)]="color">
                </div>
                <button class="btn btn-primary">
                    Agregar skill
                </button>
            </form>
        </div>
    </div>
</div>