.skills-descripcion {
  color: goldenrod;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 0.5px;
  text-align: start;
}

/*Título*/
.skills-title {
  font-weight: 600;
  font-size: 4rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #ccd6f6d8;
}

/*Hard Skills*/
.hardskillscontainer {
  align-self: center;
  margin-top: 50px;
}

.hardskills {
  text-align: center;
  transform: rotate(-15deg);
  justify-self: flex-start;
  margin-bottom: 50px;
}

.hardskillsimg{
  display: inline-flex;
  width: 11vmin;
  height: 11vmin;
}

/*Soft Skills*/
#softrow {
  margin-top: 50px;
}

.buttons {
  justify-content: end;
  text-align: end;
}


.softskillsimg {
  text-align: center;
}

 #softimg {
  display: inline-flex;
  width: 9vmin;
  height: 9vmin;
  background-color: whitesmoke;
  border-radius: 50%;
  margin: 2px;
 }


/*.row {
  padding-top: 100px;
}

h1 {
  color: aquamarine;
  margin-bottom: 80px;
}

circle-progress {
  padding-left: 10px;
  padding-right: 10px;
}

#skillscontainer, .text-center {
  z-index: 1;
}*/