.skillscontainer {
  color: aquamarine;

}

.skills-title {
  font-weight: 600;
  font-size: 5.3rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: aquamarine;
}

.skills-desc {
  width: 45%;
  margin-left: 15px;
}


.p {
  color: aquamarine;
}

.skills-progreso {
  width: 45%;
  color: aquamarine;
  text-align: center;
  align-self: flex-end;
}

.skill {
  padding: 30px;
}

.skill-name {
  margin-bottom: 5px;
}

#name {
  color: aquamarine;
  font-weight: 600;
  font-size: large;
  margin-left: 10px;
}

.progress {
  height: 1%;
}

.circle-progress {
  display: inline-flex;
  
}

/*.row {
  padding-top: 100px;
}

h1 {
  color: aquamarine;
  margin-bottom: 80px;
}

circle-progress {
  padding-left: 10px;
  padding-right: 10px;
}

#skillscontainer, .text-center {
  z-index: 1;
}*/