<div class="container" id="skillscontainer">
    <div class="row">
        <div class="col-lg-6 col-sm-12 col-xs-12 skills-title">
            <header>
                <h2>
                    <span class="skills-title">Hard <br> & <br> Soft Skills</span>
                </h2>
            </header>
        </div>

        <div class="col-lg-6 col-sm-12 col-xs-12 d-flex align-items-center justify-content-center hardskillscontainer">

            <div class="col hardskills">
                <div class="col hardskillsimg" *ngFor="let Hskill of hSkill">
                    <div class="buttons" *ngIf="isLogged">
                        <button class="btn btn-light button" style="background-color:{{Hskill.color}}"
                            routerLink="/edithskill/{{Hskill.id}}" id="edit">
                            <i class="bi bi-pencil-fill"></i></button>
                        <button class="btn btn-danger button" style="background-color:{{Hskill.color}}"
                            (click)="deleteHSkill(Hskill.id)" id="delete">
                            <i class="bi bi-trash-fill"></i></button>
                    </div>
                    <img src="{{Hskill.img}}" alt="{{Hskill.nombre}}" title="{{Hskill.nombre}}">
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="softrow">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 skills-descripcion"
            *ngFor="let Skill of sSkill">
            <div class="buttons" *ngIf="isLogged">
                <button class="btn btn-light button" routerLink="/editsskill/{{Skill.id}}" id="edit">
                    <i class="bi bi-pencil-fill"></i></button>
            </div>
            <p>
                {{Skill.softSkill}}
            </p>
        </div>

        <div
            class="col-lg-4 col-md-4 col-sm-4 col-xs-12 d-flex align-items-center justify-content-center softskillscontainer">
            <div class="col d-flex align-items-center justify-content-center softskillss">
                <div class="col softskillsimg">
                    <img class="img" id="softimg" title="resolución de problemas" alt="resolución de problemas"
                        src="../assets/rubik.png">
                    <img class="img" id="softimg" title="idiomas" alt="idiomas" src="../assets/translate2.png">
                    <img class="img" id="softimg" title="organización" alt="organización" src="../assets/organized.png">
                    <img class="img" id="softimg" title="adaptabilidad" alt="adaptabilidad"
                        src="../assets/adaptation1.png">
                    <img class="img" id="softimg" title="planificación" alt="planificación" src="../assets/clock.png">
                    <img class="img" id="softimg" title="trabajo en equipo" alt="trabajo en equipo"
                        src="../assets/teamwork.png">
                    <img class="img" id="softimg" title="habilidades interpersonales" alt="habilidades interpersonales"
                        src="../assets/communication.png">
                    <img class="img" id="softimg" title="creatividad" alt="creatividad" src="../assets/lightbulb.png">
                </div>
            </div>
        </div>
    </div>

    <!-- <div id="myCanvasContainer" style="color:aquamarine">
                    <canvas width="300" height="300" id="myCanvas">
                        <ul id="tags">
                            <li></li>

                            <li><a href="#" target="_blank"><img src="../assets/rubik.png" width="20%" height="20%"></a>
                            </li>
                            <li><a href="#" target="_blank"><img src="../assets/translate2.png" width="20%"
                                        height="20%"></a></li>
                            <li><a href="#" target="_blank"><img src="../assets/organized.png" width="20%"
                                        height="20%"></a></li>
                            <li><a href="#" target="_blank"><img src="../assets/adaptation1.png" width="20%"
                                        height="20%"></a></li>
                            <li><a href="#" target="_blank"><img src="../assets/clock.png" width="20%" height="20%"></a>
                            </li>
                            <li><a href="#" target="_blank"><img src="../assets/teamwork.png" width="20%"
                                        height="20%"></a></li>
                            <li><a href="#" target="_blank"><img src="../assets/communication.png" width="20%"
                                        height="20%"></a></li>
                            <li><a href="#" target="_blank"><img src="../assets/lightbulb.png" width="20%"
                                        height="20%"></a></li>

                        </ul>
                    </canvas>
                </div> -->
    <!--
        <div class="col-lg-6 col-sm-12 col-xs-12 hardskillscontainer">
            <div class="col hardskillsprogress">
                <div class="circle-progress">
                    <circle-progress [percent]="85" [radius]="50" [imageSrc]="'../assets/html.png'" [showImage]="true"
                        [imageHeight]="45" [imageWidth]="45" [title]="'html'" [titleColor]="'pink'"
                        [titleFontSize]="'3em'" [showSubtitle]="false" [showUnits]="false" [outerStrokeWidth]="5"
                        [innerStrokeWidth]="2" [outerStrokeColor]="'#e34c26'" [innerStrokeColor]="'#C7E596'"
                        [animation]="true" [animationDuration]="300"></circle-progress>
                </div>

                <div class="circle-progress">
                    <circle-progress [percent]="85" [radius]="50" [imageSrc]="'../assets/css.png'" [showImage]="true"
                        [imageHeight]="45" [imageWidth]="45" [title]="'css'" [titleColor]="'pink'"
                        [titleFontSize]="'3em'" [showSubtitle]="false" [showUnits]="false" [outerStrokeWidth]="5"
                        [innerStrokeWidth]="2" [outerStrokeColor]="'#264de4'" [innerStrokeColor]="'#C7E596'"
                        [animation]="true" [animationDuration]="300"></circle-progress>
                </div>

                <div class="circle-progress">
                    <circle-progress [percent]="85" [radius]="50" [imageSrc]="'../assets/js.png'" [showImage]="true"
                        [imageHeight]="55" [imageWidth]="55" [title]="'javascript'" [titleColor]="'pink'"
                        [titleFontSize]="'3em'" [showSubtitle]="false" [showUnits]="false" [outerStrokeWidth]="5"
                        [innerStrokeWidth]="2" [outerStrokeColor]="'#F0DB4F'" [innerStrokeColor]="'#C7E596'"
                        [animation]="true" [animationDuration]="300"></circle-progress>
                </div>

                <div class="circle-progress">
                    <circle-progress [percent]="85" [radius]="50" [imageSrc]="'../assets/ts.png'" [showImage]="true"
                        [imageHeight]="45" [imageWidth]="45" [title]="'typescript'" [titleColor]="'pink'"
                        [titleFontSize]="'3em'" [showSubtitle]="false" [showUnits]="false" [outerStrokeWidth]="5"
                        [innerStrokeWidth]="2" [outerStrokeColor]="'#007acc'" [innerStrokeColor]="'#C7E596'"
                        [animation]="true" [animationDuration]="300"></circle-progress>
                </div>

                <div class="circle-progress">
                    <circle-progress [percent]="85" [radius]="50" [imageSrc]="'../assets/mysql.png'" [showImage]="true"
                        [imageHeight]="55" [imageWidth]="55" [title]="'mySQL'" [titleColor]="'pink'"
                        [titleFontSize]="'3em'" [showSubtitle]="false" [showUnits]="false" [outerStrokeWidth]="5"
                        [innerStrokeWidth]="2" [outerStrokeColor]="'#00758F'" [innerStrokeColor]="'#C7E596'"
                        [animation]="true" [animationDuration]="300"></circle-progress>
                </div>

                <div class="circle-progress">
                    <circle-progress [percent]="85" [radius]="50" [imageSrc]="'../assets/angularlogo.png'"
                        [showImage]="true" [imageHeight]="55" [imageWidth]="55" [title]="'angular'"
                        [titleColor]="'pink'" [titleFontSize]="'3em'" [showSubtitle]="false" [showUnits]="false"
                        [outerStrokeWidth]="5" [innerStrokeWidth]="2" [outerStrokeColor]="'#dd1b16'"
                        [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300"></circle-progress>
                </div>

                <div class="circle-progress">
                    <circle-progress [percent]="85" [radius]="50" [imageSrc]="'../assets/java.png'" [showImage]="true"
                        [imageHeight]="65" [imageWidth]="65" [title]="'java'" [titleColor]="'pink'"
                        [titleFontSize]="'3em'" [showSubtitle]="false" [showUnits]="false" [outerStrokeWidth]="5"
                        [innerStrokeWidth]="2" [outerStrokeColor]="'#f89820'" [innerStrokeColor]="'#C7E596'"
                        [animation]="true" [animationDuration]="300"></circle-progress>
                </div>

                <div class="circle-progress">
                    <circle-progress [percent]="75" [radius]="50" [imageSrc]="'../assets/spring.png'" [showImage]="true"
                        [imageHeight]="65" [imageWidth]="65" [title]="'Spring Boot'" [titleColor]="'pink'"
                        [titleFontSize]="'3em'" [showSubtitle]="false" [showUnits]="false" [outerStrokeWidth]="5"
                        [innerStrokeWidth]="2" [outerStrokeColor]="'#6D833F'" [innerStrokeColor]="'#C7E596'"
                        [animation]="true" [animationDuration]="300"></circle-progress>
                </div>

            </div>
        </div>
    -->