<div class="row" id="skillscontainer">

    <div class="skills-desc">
        <header>
            <h2>
                <span class="skills-title">Hard & Soft Skills</span>
            </h2>
        </header>
        <br><br>
        <p style="color:aquamarine">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit animi ea quod. Atque ex culpa et
            dolore animi a distinctio architecto, voluptatum fuga obcaecati consequuntur cumque commodi recusandae vel
            quaerat.
        </p>
        <p style="color:aquamarine">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam nobis sit vel, eveniet sequi ut beatae
            dicta, reprehenderit libero modi voluptatum. Quo tempora nisi commodi. Placeat facilis aliquid id dicta?
        </p>
    </div>

    <div class="skills-progreso flex-container">
       <!-- <div class="skill">
            <div class="skill-name">
                <img src='../assets/html.png' height="50px">
                <span id="name" style="color:aquamarine">HTML 5</span>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100"></div>
            </div>
        </div>-->

        <div class="circle-progress">
            <circle-progress
                [percent]="85"
                [radius]="50"
                [imageSrc]="'../assets/html.png'"
                [showImage]="true"
                [imageHeight]="45"
                [imageWidth]="45"
                [title]="'html'"
                [titleColor]="'pink'"
                [titleFontSize]="'3em'"
                [showSubtitle]="false"
                [showUnits]="false"
                [outerStrokeWidth]="5"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"    
            ></circle-progress>
        </div>

        <div class="circle-progress">
            <circle-progress
                [percent]="85"
                [radius]="50"
                [imageSrc]="'../assets/html.png'"
                [showImage]="true"
                [imageHeight]="45"
                [imageWidth]="45"
                [title]="'html'"
                [titleColor]="'pink'"
                [titleFontSize]="'3em'"
                [showSubtitle]="false"
                [showUnits]="false"
                [outerStrokeWidth]="5"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"    
            ></circle-progress>
        </div>

        <div class="circle-progress">
            <circle-progress
                [percent]="85"
                [radius]="50"
                [imageSrc]="'../assets/html.png'"
                [showImage]="true"
                [imageHeight]="45"
                [imageWidth]="45"
                [title]="'html'"
                [titleColor]="'pink'"
                [titleFontSize]="'3em'"
                [showSubtitle]="false"
                [showUnits]="false"
                [outerStrokeWidth]="5"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"    
            ></circle-progress>
        </div>

        <div class="circle-progress">
            <circle-progress
                [percent]="85"
                [radius]="50"
                [imageSrc]="'../assets/html.png'"
                [showImage]="true"
                [imageHeight]="45"
                [imageWidth]="45"
                [title]="'html'"
                [titleColor]="'pink'"
                [titleFontSize]="'3em'"
                [showSubtitle]="false"
                [showUnits]="false"
                [outerStrokeWidth]="5"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"    
            ></circle-progress>
        </div>
    </div>














    <!-- <h1 class="text-center">Hard & Soft Skills</h1>
    
        <div class="text-center col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="85"
                [radius]="100"
                [imageSrc]="'../assets/html.png'"
                [showImage]="true"
                [imageHeight]="70"
                [imageWidth]="70"
                [title]="'html'"
                [titleColor]="'pink'"
                [titleFontSize]="'3em'"
                [showSubtitle]="false"
                [showUnits]="false"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"    
            ></circle-progress>
            <p style="color:white">HTML 5</p>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="85"
                [radius]="100"
                [imageSrc]="'../assets/html.png'"
                [showImage]="true"
                [imageHeight]="70"
                [imageWidth]="70"
                [title]="'html'"
                [titleColor]="'pink'"
                [titleFontSize]="'3em'"
                [showSubtitle]="false"
                [showUnits]="false"
                [outerStrokeWidth]="6"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"    
            ></circle-progress>
        </div>   
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="85"
                [radius]="100"
                [imageSrc]="'../assets/html.png'"
                [showImage]="true"
                [imageHeight]="70"
                [imageWidth]="70"
                [title]="'html'"
                [titleColor]="'pink'"
                [titleFontSize]="'3em'"
                [showSubtitle]="false"
                [showUnits]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"    
            ></circle-progress>
        </div>   
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="85"
                [radius]="100"
                [imageSrc]="'../assets/html.png'"
                [showImage]="true"
                [imageHeight]="70"
                [imageWidth]="70"
                [title]="'html'"
                [titleColor]="'pink'"
                [titleFontSize]="'3em'"
                [showSubtitle]="false"
                [showUnits]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"    
            ></circle-progress>
        </div>   
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="85"
                [radius]="100"
                [imageSrc]="'../assets/html.png'"
                [showImage]="true"
                [imageHeight]="70"
                [imageWidth]="70"
                [title]="'html'"
                [titleColor]="'pink'"
                [titleFontSize]="'3em'"
                [showSubtitle]="false"
                [showUnits]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"    
            ></circle-progress>
        </div>       
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="85"
                [radius]="100"
                [imageSrc]="'../assets/html.png'"
                [showImage]="true"
                [imageHeight]="70"
                [imageWidth]="70"
                [title]="'html'"
                [titleColor]="'pink'"
                [titleFontSize]="'3em'"
                [showSubtitle]="false"
                [showUnits]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"    
            ></circle-progress>
        </div>
    -->
</div>