/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Tisa;
  src: url(assets/fonts/TisaSans.ttf) format('truetype');
}

html,
body {
  overflow-x: hidden;
  background-color: rgb(3, 1, 35);
}

.component-wrapper {
  background-color: rgb(3, 1, 35);
  z-index: 1;
}

/*.particles-js-canvas-el {
  position: static;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  z-index: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat
}*/

.title {
  color: #ccd6f6d8;
  font-size: 4rem;
  font-weight: 700;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*Experiencias laborales y educativas*/

.antecedentes {
  height: auto;
  padding: 30px;
  color: #ccd6f6d8;
  border-top: 2px solid #009ddc;
  margin-bottom: 30px;
}

.ant-nombre {
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #81d8f7;
  font-weight: 600;
}

.ant-descripcion h5 {
  font-size: 1.5rem;
  text-decoration: none;
  color: #ccd6f6d8;
  display: block;
  margin: 15px 0;
}

.ant-fecha {
  color: #3eb7e3;
  font-weight: 500;
  letter-spacing: 0.5px;
}

/*Botones*/

.buttons {
  margin-top: -25px;
  margin-bottom: 0;
  margin-right: -12px;
  text-align: end;
}

.button {
  margin: 2px;
}

#new {
  margin-bottom: 5px;
  margin-right: 7px;
  border-radius: 50%;
}

#edit,
#delete {
  z-index: inherit;
  justify-content: end;
  border-radius: 50%;
}

/*Sección editar*/

.form-group {
  color: #ccd6f6d8;
  ;
}